<section class="login">
    <h2 class="login__header">Login</h2>
    {{#> FormAuth}}
        {{> Input label="Login (Required)" }}
        {{> Input label="Password (Required)" }}
        {{> Button label="Sign in" type="primary" page="chat"}}
        {{> Button label="Sign up" type="secondary"  page="register"}}
    {{/FormAuth}}
</section>
