<section class="login">
    <h2 class="login__header">Login</h2>
    {{#> FormAuth}}
        {{> Input label="Login (Required)" }}
        {{> Input label="Password (Required)" }}
        {{> Button label="Sign in" classType="primary" page="chatty"}}
        {{> Button label="Sign up" classType="secondary"  page="register"}}
        {{> Button label="404" classType="secondary"  page="pageNotFound"}}
        {{> Button label="500" classType="secondary"  page="serverErrorPage"}}
        {{test}}
    {{/FormAuth}}
</section>
