<div class="container">
    {{#> FormAuth}}
        {{> Input label="EMAIL" }}
        {{> Input label="Login" }}
        {{> Input label="First Name" }}
        {{> Input label="Last Name" }}
        {{> Input label="Phone Number" }}
        {{> Input label="Password" }}
        {{> Input label="Confirm Password" }}
        {{> Button label="Sign up" type="disabled" page="login"}}
        {{> Button label="Sign in" type="disabled" }}
    {{/FormAuth}}
</div>
