@import '../utils/mixins';
@import '../utils/variable';

.button {
    @include reset;
    @include size(52px, 280px);
    @include text;
    @include text-format(600, 16px, 28px);

    color: $mainTextColor;
    border: none;
    border-radius: $borderRadiusLoginButton;
    box-shadow: $boxShadowLoginButton;
    box-sizing: border-box;
    cursor: pointer;
    transition: $hoverTransition;

    &__primary {
        background-color: $thirdColor;
    }

    &__disabled {
        background-color: $fourthColor;
    }

    &__secondary {
        @include size(40, 280px);
        @include text-format(500, 11px, 11px);

        background-color: transparent;
        box-shadow: none;
        color: $thirdTextColor;
    }

    &__hidden {
      display: none;
  }

    &:hover {
        box-shadow: $hoverLoginButton;
        transition: $hoverTransition;
      }
}
