@import '../utils/mixins';
@import '../utils/variable';

.chat {
    @include size(100%, 100%);

    display: grid;
    grid-template-columns: min-content 1fr;
    background-color: $mainColor;

    &__container-users {
        width: 375px;
        height: 98%;
        align-self: center;
        border-right: $borderChat;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    &__container-header {
        width: 100%;
        box-sizing: border-box;
        padding: 13px 24px 18px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    &__header {
        @include reset;
        @include text;
        @include text-format(500, 20px, 20px);

        color: $mainTextColor;
        text-align: left;
    }

    &__container-header-icons {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    &__header-icon {
        @include size(24px, 24px);
        @include hover-opacity;
    }

    &__container-stories-list {
      @include reset;

      padding-left: 17px;
        display: flex;
        flex-direction: row;
        width: 96%;
        box-sizing: border-box;
        gap: 16px;
        min-height: 108px;
        border-bottom: $borderChatBottom;
        list-style: none;
    }

    &__search-bar {
      @include reset;
        @include size(36px, 90%);

        background-color: $secondColor;
        border-radius: 4px;
        border: none;
        margin-top: 16px;
        margin-left: 8px;
        margin-bottom: 16px;
    }

    &__container-users-list {
      @include reset;

      margin-left: 8px;
        display: grid;
        row-gap: 16px;
        list-style: none;
        width: 90%;
        box-sizing: border-box;
    }

    &__container-chats {
        width: auto;
    }

    &__disclaimer {
        @include reset;
        @include text;
        @include text-format(500, 12px, 12px);
        
        color: $secondTextColor;
        text-align: center;
    }

    &__container-botom-bar {
      @include reset;
      
      position: absolute;
      bottom: 0;
      width: 90%;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

}
