<form class="login-form">
  {{#each inputs}}
    {{{ LabeledInput 
          label=this.label
          name=this.name
          validate=this.validate
          validateMessage=this.validateMessage }}}
  {{/each}}
  {{#each buttons}}
    {{{ Button label=this.label classType=this.classType onClick=this.onClick }}}
  {{/each}}
</form>
