<section class="chat">
    <div class="chat__container-users">
        <div class="chat__container-header">
            <h2 class="chat__header">Chatty</h2>
            <div class="chat__container-header-icons">
                <img class="chat__header-icon" src="/images/start-chat-icon.svg" alt="Иконка. Создать чат">
                <img class="chat__header-icon" src="/images/settings-icon.svg" alt="Иконка. Настройки">
            </div>
        </div>
        <ul class="chat__container-stories-list">
            {{> Story story-owner="You story" extra-class="chat-story__container_type_add-story" story-img-src="/images/add-story-icon.svg" story-alt="Иконка. Создать чат"}}
            {{> Story story-owner="Midala Huininja" story-img-src="/images/ava-1.jpg" story-alt="Иконка. Аватар пользователя"}}
            {{> Story story-owner="Athalia Putri" story-img-src="/images/ava-2.jpg" story-alt="Иконка. Аватар пользователя"}}
            {{> Story story-owner="Erlan Sadewa" story-img-src="/images/ava-3.jpg" story-alt="Иконка. Аватар пользователя"}}
        </ul>
        <input class="chat__search-bar" placeholder="Search"><img class="chat__header-icon" src="/images/search-lupe-icon.svg" alt="Иконка. Лупа"></input>
        <ul class="chat__container-users-list">
            {{> User chat-user="user 1" }}
            {{> User chat-user="user 2" }}
            {{> User chat-user="user 3" }}
            {{> User chat-user="user 4" }}
        </ul>
    </div>
    <div class="chat__container-chats">
        <h2 class="chat__disclaimer">Chatty: Выберите чат чтобы отправить сообщение</h2>
    </div>

</section>
