<section class="chat">
    <div class="chat__container-users">
        <div class="chat__container-header">
            <h2 class="chat__header">Chatty</h2>
            <div class="chat__container-header-icons">
                <img class="chat__header-icon" src="/images/start-chat-icon.svg" alt="Иконка. Создать чат">
                <img class="chat__header-icon" src="/images/settings-icon.svg" alt="Иконка. Настройки">
            </div>
        </div>
        <ul class="chat__container-stories-list">
          {{#each stories}}
            {{{ Story owner=this.owner extraClass=this.extraClass src=this.src alt=this.alt }}}
          {{/each}}
        </ul>
        <div class="chat__search-bar">{{{ SearchBar }}}</div>
        <ul class="chat__container-users-list">
          {{#each users}}
            {{{ User name=this.name }}}
          {{/each}}
        </ul>
          {{{ BottomBar }}}
    </div>
    <div class="chat__container-chats">
        <h2 class="chat__disclaimer">Chatty: Выберите чат чтобы отправить сообщение</h2>
    </div>

</section>
