<section class="chat">
    <div class="chat__container-users">
        <div class="chat__container-header">
    <h2 class="chat__header">Chatty</h2>

        </div>
    </div>
    <div class="chat__container-chats">
    <h2 class="chat__header">Chatty</h2>
    </div>

</section>
