<section class="chat">
    <div class="chat__container-users">
        <div class="chat__container-header">
            <h2 class="chat__header">More</h2>
        </div>
        <div class="chat__container-profile">
          <div class="chat__container-profile-ava">
            <img class="chat__container-profile-img" src="/images/ava-4.jpg" alt="Фотография профиля">
          </div>
          <div class="chat__container-profile-info">
            <p class="chat__container-profile-info-contact">Almayra Zamzamy</p>
            <p class="chat__container-profile-info-contact chat__container-profile-info-contact_type_tel">+62 1309 - 1710 - 1920</p>
          </div>
          <img class="chat__container-profile-arrow" src="/images/arrow.svg" alt="Иконка. Стрелка вперёд">
        </div>
        {{> BottomBar }}


    </div>
    <div class="chat__container-chats">
        <h2 class="chat__disclaimer">Chatty: Выберите чат чтобы отправить сообщение</h2>
    </div>

</section>
