<li class="chat-story">
  <div class="chat-story__container {{extra-class}}">
    <div class="chat-story__img-container">
      <img class="chat-story__img" src={{story-img-src}} alt={{story-alt}}>
    </div>
  </div>
  <p class="chat-story__title">{{story-owner}}</p>
</li>
