<li class="chat-story">
  <div class="chat-story__container {{extraClass}}">
    <div class="chat-story__img-container">
      <img class="chat-story__img" src="{{src}}" alt="{{alt}}">
    </div>
  </div>
  <p class="chat-story__title">{{owner}}</p>
</li>
