<form class="chat__search-bar-form">
    {{{ LabeledInput
          ref=this.name
          label=this.label
          name=this.name
          validate=this.validate
          validateMessage=this.validateMessage }}}
    {{{ Button label=this.label classType=this.classType type=this.type onClick=this.onClick }}}
</form>
