<div class="chat__container-profile-ava chat__container-profile-ava_type_change-profile">
  {{{ InputFile ref="fileInput" name=this.input.name type=this.input.type extraClass=this.input.extraClass onSubmit=this.onSubmit}}}
  {{{ UserAvatar avatar=this.avatar extraClass=this.extraClass onClick=this.onClick }}}
</div>
