    <label class="input input__container">
        {{{ Input ref="input" label=this.label name=this.name onBlur=this.onBlur }}}
        {{{ InputError ref="error" validateMessage=this.validateMessage }}}
    </label>
