<li class="profile-settings-item">
    <img class="profile-settings-item__img" src={{setting-img-src}} alt={{setting-alt}}>
    <p class="profile-settings-item__name">{{setting-name}}</p>
    <img class="chat__container-profile-arrow" src="/images/arrow.svg" alt="Иконка. Стрелка вперёд">
</li>
